<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="/book/modificar" th:object="${book}" method="POST">
    <div>
        <input type="hidden" th:value="*{id}" name="id_current" id="id_current"/>
    </div>

    <div >
        <label>Isbn: </label>
        <input type="text" name="isbn" th:value="*{isbn}" >
    </div>
    <div >
        <label>Title: </label>
        <input type="text" name="title" th:value="*{title}" >
    </div>
    <div >
        <label>Price: </label>
        <input type="text" name="price" th:value="*{price}" >
    </div>

    <div>
        <label>El id del author actual es: <label th:text="${id_author_current}"></label> </label>
    </div>

    <div>
        <label for="author_id">Author</label>
        <select id="author_id" name="author_id">
            <option value="0">Escoja un auhtor</option>
            <option th:each="author : ${authors}" th:value="${author.id}"
                    th:text="${author.firstName} + ' ' + ${author.lastName}"></option>

        </select>
    </div>

    <div>
        <input type="hidden" th:value="${id_author_current}" name="id_author_current" id="id_author_current"/>
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>